.form__button-submit{
   width: 358px;
   height: 50px;
   background-color: #000;
   border: none;
   margin-top: 48px;
   margin-right: 36px;
   color: #FFF;
   font-family: 'Inter', 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   border-radius: 2px;
   padding: 0;
}
.form__button-submit:hover{
   background-color: rgba(0,0,0,.8);
   cursor: pointer;
}
@media (max-width: 560px){
   .form__button-submit{
      width: 238px;
      margin-right: 22px;
      margin-top: 45px;
      font-size: 14px;
      line-height: 17px;
   }
}