.form__button_close{
   width: 32px;
   height: 32px;
   position: absolute;
   top: -40px;
   right: -40px;
   background-image: url(../../../images/close_Icon.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;
}
.form__button_close:hover{
   cursor: pointer;
   opacity: 0.6;
}
@media (max-width: 560px){
   .form__button_close{
      width: 20px;
      height: 20px;
      background-size: contain;
      top: -30px;
      right: -5px;
   }
}